/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Coda&display=swap');

/* General Styles */
body {
    font-family: Coda, sans-serif;
    color: #000000;
    background-color: #e4e4e4;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    padding: 16px 0;
    margin: 0;
}

main > div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    display: none;
}

/* Header */
header {
    margin: 32px 0;
    font-family: Bungee, monospace;
}

header img {
    width: 80%;
}

/* Footer */
footer {
    width: 100%;
    margin: 32px 0;
    text-align: center;
}

footer i{
    font-size: 300%;
    vertical-align: -25%;
    padding: 8px;
}

/* Home page */
#home-page{
    display: block;
}

#btn-start-h {
    margin: 20% 10%;
    width: 80%;
    padding: 10% 0;
    font-size: 40px;
}

#btn-rules-h, #btn-leaderboard-h, #btn-settings-h {
    margin: 0 10% 32px;
    width: 80%;
    font-size: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #000000;
    font-size: 32px;
}

.close:hover, 
.close.focus{
    background-color: crimson;
    cursor: pointer;
    text-decoration: none;
}

.modal > div{
    background-color: #e4e4e4;
    border-top: 6px solid #ffffff;
    border-bottom: 6px solid #ffffff;
    max-width: 600px;
    margin: 0 auto;
}

/* Settings */
#settings-content-grid {
    display: grid;
    margin: 10% 20%;
    grid-template-columns: 50% 50%;
}

#settings-content-grid select, 
#settings-content-grid label, 
#settings-content-grid input {
    margin: 8px 0;
    vertical-align: middle;
}

/* Leaderboard */
#leaderboard-select{
    display: grid;
    margin: 8px 10%;
    grid-template-columns: 50% 50%;
}

#leaderboard-content {
    padding: 16px 8px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    font-size: small;
}

#leaderboard-select label, 
#leaderboard-select select {
    height: 32px;
    margin: 0;
    margin-bottom: 4px;
}

.new-score {
    font-weight: bold;
    color: blueviolet;
}

#btn-home-l {
    margin-bottom: 16px;
}


/* Game page */
#game-board {
    display: grid;
    margin: 16px 5%;
    width: 90%;
    aspect-ratio : 1 / 1;

    -webkit-touch-callout: none; /* Safari */
        -webkit-user-select: none; /* Chrome */     
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
}

.hidden-tile {
    background-color: #bbbbbb;
    border: 2px #999999 solid;
}

.flagged-tile {
    border: 2px #999999 solid;
}

.revealed-tile {
    border: 2px #999999 solid;
}

/* Focused tile (keyboard)*/
#focused {
    border: 4px #3510c7 solid;
}

/* Lose page */
#lose-content h2{
    padding-bottom: 24px;
}

#lose-content{
    padding-bottom: 24px;
}

/* Game page */
#game-page {
    padding: 8px;
}

#mines-left{
    display: inline-block;
    text-align: left;
    width: 40%;
}

#timer{
    display: inline-block;
    text-align: right;
    width: 40%;
}

#game-page button{
    margin: 4px;
}