/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Coda&display=swap');

/* General Styles */
body {
    font-family: Coda, sans-serif;
    background-color: #e4e4e4;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

main > div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    display: none;
}

/* Header */
header {
    margin: 32px 0;
    font-family: Bungee, monospace;
}

header img {
    width: 80%;
}

/* Footer */
footer {
    width: 100%;
    margin: 32px 0;
    text-align: center;
}

footer i{
    font-size: 300%;
    vertical-align: -25%;
    padding: 8px;
}

/* Home page */
#home-page{
    display: block;
}

#btn-start-h {
    margin: 30% 10%;
    width: 80%;
    font-size: 40px;
}

#btn-rules-h, #btn-leaderboard-h {
    margin: 0 10% 32px;
    width: 80%;
    font-size: 20px;
}

/* Game page */
#game-board {
    display: grid;
    margin: 16px 5%;
    width: 90%;
    aspect-ratio : 1 / 1;
}

.hidden-tile {
    background-color: #bbbbbb;
}

.flagged-tile {
}
